html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    color: $text;
  }
  
  body{
    font-family: "Roboto-Regular", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: $text;
  }

  a{
      display: inline-block;
      text-decoration: none;
  }

  ul,
  li{
      margin: 0;
      padding: 0;
      list-style: none;
  }


  .contanier{
      max-width: 1200px;
      margin: 0 auto;
      padding: 0px 15px;
  }
  .contanier-fluid{
      max-width: 100%;
      margin: 0 auto;
      padding: 0px 30px;
  }

  @media (max-width:720px){
      .contanier-fluid{
        padding: 0px 15pc;
      }
  }

  .title{
    text-align: center;
    color: $bg;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 30px;
  }

  .rate-star{
    display: inline-block;
    margin-right: 13px;
  }